<li [ngClass]="{'list-group-item': true, 'list-group-item-success': appareilStatus === 'allume', 'list-group-item-danger': appareilStatus === 'eteint'}">
    <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
    <a [routerLink]="[id]">Detail</a><br>
    <button class="btn btn-success" (click)="onSwitchOn()" [disabled]="appareilStatus === 'allume'">Allumer</button>
    <button class="btn btn-danger" (click)="onSwitchOff()" [disabled]="appareilStatus === 'eteint'">Eteindre</button>
</li>